@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Lumanosimo&family=Poppins:wght@300&family=Roboto+Mono:wght@500&family=Roboto:wght@300&family=Satisfy&display=swap');

:root {
 --red: #ff3838;
 --white: #f7f3f3;
 --black: #000000;


 --red-one: #CB3568;
 --red-two: #BD3F32;

 --green-one: #56ab2f;
 --green-two: #94d049;


 --black-one:#232526;
 --black-two: #707676;


 --blue-one: #021079;
 --blue-two: #0575E6;

 --silver: #bdc3c2;
}

*{
    background-color: var(--white);
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

 .bg-red{
    background-color: var(--red);

} 

 .bg-white{
    background-color: var(--white);
} 

.bg-black{
    background-color: var(--black);
}

.bg-blue{
    background-color:  var(--blue-one);
}

.bg-grey{
    background-color: var(--green-one);
}

html, body{
    height:100vh;
    overflow:hidden;

}

.row{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.row:after, .row:before{
    box-sizing:border-box;

}

.col-6{
    width:50%;
    position:relative;
}

.slider{
    overflow:hidden;
    height:500%;
}

.fullheight{
  height: 100vh;
}

.product-img{
    position:absolute;
    top:80%;
    left:50%;
    transform: translate(-50%, -50% );
    width: 100%;
}


.img-wrapper img{
    margin-top:70px;
     height: auto;
      margin-left: 90px; 
     width: 60%;
     transform: rotate(-35deg);
     
}

.more-images{
    position: absolute;
    left:85%;
    top:50%;
    margin-right:60px;
    background-color: gray;
}

.more-images-item{
  height: fit-content;
  border-radius:15px;
  overflow: hidden;
  margin: 5px 0;
  background-color: gray;;
 
}

.more-images-item img {
    height:auto;
    width:80px;
    border-radius:15px;
    transition: 1s;
    margin-right: 20px;
}

.more-images-item:hover img {
    transform: scale(1.5);
}


.more-images-item:hover {
    cursor: pointer;
}

.product-info {

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    padding:0 10%;
    color: var(--silver);
     margin:30px;

}

.info-wrapper{
 margin: auto;
 position:relative;
 text-align:right;
}

.product-name h2 {
    font-weight:900;
    font-size: xxx-large;
    color: var(--black);
}

.product-price{
    font-weight: 900;
    font-size:xx-large;
    color: var(--black);
}

.product-price span{
   
    font-size:large;
    color: var(--black-two);
}

.product-size {
    margin: 20px 0;
}

.size-wrapper{
    display:flex;
    flex-flow:row-reverse;
    padding:5px;


}

.size-wrapper div{
    font-weight: 900;
    margin: 5px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    padding: 13px;
    border:2px solid var(--silver);
    color: var(--silver);
}

.size-wrapper div.active{
    border:2px solid var(--black);
    color: var(--black);
}

.size-wrapper div:hover{
    border:2px solid var(--black);
    color: var(--black);
    cursor:pointer;
}

.color-wrapper {
    display:flex;
    flex-flow:row-reverse;
    padding:5px;  
}

.color-wrapper div {
   
    margin: 5px;
    width:50px;
    height:50px;
    border-radius: 50%;
    padding:3px;
    border: 2px solid var(--silver);
   
}

.color-wrapper  > div.active {
    border: 2px solid var(--black);
    
}

.color-wrapper  > div:hover {
    cursor:pointer;
    border: 2px solid var(--black);
    
}

.color-wrapper > div > div {
   width:40px;
   height:40px;
   border-radius:50%;

  
    
}

.product-description{
   margin: 50px 0;
    text-align: justify;
}

.button{
 padding-bottom:30px;
}

.button > button {
    font-weight:900;
    font-size: x-large;
    padding:10px;
    border-radius:30px;
    border: 2px solid var(--black);
    background-color: var(--white);
    color:var(--black);
    transition: .5s;
}

.button > button:hover {

    cursor:pointer;
    background-color: var(--black);
    color: var(--white);
}

.img-col {
   border-bottom-left-radius: 100%;
   background-image: linear-gradient(to top right, yellow, green);
   transition: .5s;
}



